.App {
  text-align: center;
  margin-top: -22px;
  font-family: 'Akaya Telivigala', cursive;
  background: linear-gradient(0.25turn,#553fa6, #3f87a6, #706cbd, #3f87a6,#553fa6);
}

h1 {
  color: white;
}